<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>{{ site.title }}</title>

  <link rel="stylesheet" href="/css/main.css" />

  <link
    rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
    integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP"
    crossorigin="anonymous"
  />

 <link rel="preconnect" href="https://fonts.gstatic.com"> 
<link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">

<link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
<link rel="manifest" href="/images/site.webmanifest">



<!--  Essential META Tags -->

<meta property="og:title" content="FixIT">
<meta property="og:description" content="FixIT">
<meta property="og:image" content="https://fixit.rentals/images/fixIT.logo.png">
<meta property="og:url" content="https://fixit.rental">
<meta name="twitter:card" content="summary_large_image">


<!--  Non-Essential, But Recommended -->

<meta property="og:site_name" content="FixIT">
<meta name="twitter:image:alt" content="FixIT">


<!--  Non-Essential, But Required for Analytics -->

<meta name="twitter:site" content="@fixIT">


<!-- Memberstack --> 
<script src="https://api.memberstack.io/static/memberstack.js?custom" data-memberstack-id="27459a07a94cdb21285f33aa1e4b3931"> </script> 
</head>
